html{
    height: 100vh;
    font-family: 'Lato', sans-serif;

}


body{
    height: 100%;
}

.contenu{
    height: 77%;
    min-height: auto;
    display: flex;
    padding: 3% 0% 3% 0%;
    
}

nav, #divRendement{
    height: 5%;
    min-height: auto;
}

#divRendement{
    height: 15%;
    min-height: auto;
}

.titleRendement{
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-left: 42%;
    padding-right: 42%;
}

footer{
    height: 3%;
    min-height: auto;
}


#graphique, #tableau{
    flex: 1;
    width: 50%;
}

#tableau{
    font-size: 0.9em;
}

canvas{
    display: none;
}

#tabSelection{
    display: none;
}

#tabPortefeuille{
    width: 70%;
}


#divRendement{
    padding: 1%;
    background-color: rgba(169, 169, 169, 0.247);

}

#scatterChartRow1{
    display: relative;
    width: 90%;
    height: auto;
}

#ChartsExScattPanel{
    display: relative;
    width: 70%;
    height: 70%;
}

#modalFnb{
    position:absolute;
    display:block;
    left:45vw;
    top: 25vh;
    width:fit-content;
    height:fit-content;
}


td{
    text-align: center;
}

.description{
    text-align: left;
}

.nbTitres{
    width: 60%;
}

#fondsDispoPort{
    width: 100%;
}

@media(max-width: 2000px) {
    .titleRendement{
        padding-left: 38%;
        padding-right: 38%;

    }

    .contenu{
        height: 77%;
        min-height: auto;
        display: flex;
        padding: 2% 0% 3% 0%;
        
    }
  }